adapter driver eud
transport select swd
adapter   speed  7500


if { [info exists CHIPNAME] } {
   set _CHIPNAME $CHIPNAME
} else {
   set _CHIPNAME LANAI
}

if { [info exists ENDIAN] } {
   set _ENDIAN $ENDIAN
} else {
   set _ENDIAN little
}

if { [info exists DAP_TAPID] } {
	set _DAP_TAPID $DAP_TAPID
} else {
	set _DAP_TAPID 0x5ba02477 
}


#reset_config srst_only srst_pulls_trst
reset_config trst_and_srst

swd newdap $_CHIPNAME cpu -irlen 15 -expected-id $_DAP_TAPID
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu -ignore-syspwrupack

set _TARGETNAME $_CHIPNAME.cpu
# ------------ CORE0 ---------------
cti create CTI_APSS_CORE0 -dap $_CHIPNAME.dap -baseaddr 0x820F0000 -ap-num 1
target create $_CHIPNAME.cpu0 aarch64 -dap $_CHIPNAME.dap -coreid 0 -dbgbase 0x82090000 -defer-examine -cti CTI_APSS_CORE0 -event reset-assert-post { dap init }

target create $_CHIPNAME.mpss hexagon -dap $_CHIPNAME.dap -dbgbase 0x80809000 -defer-examine -event reset-assert-post { dap init }





