adapter driver eud

transport select swd

adapter   speed  7500

if { [info exists CHIPNAME] } {
   set _CHIPNAME $CHIPNAME
} else {
   set _CHIPNAME NETRANI 
}

if { [info exists ENDIAN] } {
   set _ENDIAN $ENDIAN
} else {
   set _ENDIAN little
}


if { [info exists DAP_TAPID] } {
	set _DAP_TAPID $DAP_TAPID
} else {
	set _DAP_TAPID 0x5ba02477 
}

set AP_NUM_APSS     1
set AP_NUM_AOP_CFG  19
set AP_NUM_AOP      17

set DBG_BASE_APSS_CORE0 0x82010000
set DBG_BASE_APSS_CORE1 0x82110000 
set DBG_BASE_APSS_CORE2 0x82210000
set DBG_BASE_APSS_CORE3 0x82310000 
set DBG_BASE_AOP        0xE000E000
set DBG_BASE_ADSP       0x80B49000
set DBG_BASE_CDSP       0x80989000
set DBG_BASE_MDSP       0x80811000
set DBG_BASE_TME        0x80CD0000

set CTI_BASE_APSS_CORE0 0x82020000
set CTI_BASE_APSS_CORE1 0x82120000
set CTI_BASE_APSS_CORE2 0x82220000
set CTI_BASE_APSS_CORE3 0x82320000

set SWAOCSR_BASE         0x06B0F000 
set SWAOCSR_PWRUP_OFFSET 0x064 
set SWAOCSR_LOCK_OFFSET  0xFB0


#reset_config srst_only srst_pulls_trst
reset_config trst_and_srst


swd newdap $_CHIPNAME cpu -irlen 15 -expected-id $_DAP_TAPID
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu -ignore-syspwrupack

#
# ------------ Apps CORE0 Configuration ---------------
cti create CTI_APSS_CORE0 -dap $_CHIPNAME.dap -baseaddr $CTI_BASE_APSS_CORE0 -ap-num $AP_NUM_APSS
target create $_CHIPNAME.apss.core0 aarch64 -dap $_CHIPNAME.dap -coreid 0 -dbgbase $DBG_BASE_APSS_CORE0 -cti CTI_APSS_CORE0 -event reset-assert-post { dap init }

NETRANI.apss.core0 configure -event examine-end { 
	NETRANI.apss.core0 arp_halt 
	# NETRANI.dap  dpreg 0x8 0xf0
	# NETRANI.dap  dpreg 0x8 0x0
	# NETRANI.dap  apreg 0   0x00  0x11006012 
	# NETRANI.dap  apreg 0   0x04  0x10B11FB0 
	# NETRANI.dap  apreg 0   0x08  0x0
	# NETRANI.dap  apreg 0   0x0C  0xc5acce55

	# NETRANI.dap  dpreg 0x8 0xf0
	# NETRANI.dap  dpreg 0x8 0x0
	# NETRANI.dap  apreg 0   0x00  0x11006012 
	# NETRANI.dap  apreg 0   0x04  0x10B11064 
	# NETRANI.dap  apreg 0   0x08  0x0
	# NETRANI.dap  apreg 0   0x0C  0x1
}

# target create $_CHIPNAME.aop cortex_m -dap $_CHIPNAME.dap -dbgbase 0xE000E000  -ap-num 19 
 

